:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--forest-900);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 450;
  color: var(--forest-900);
  text-decoration: none;
}

a:hover {
  color: var(--forest-700);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #DC143C;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  background-color: #B91C1C;
}

button:active {
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

p {
  color: #666;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #ffffff;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
